<html>
    <head>
        <script src="../js/vue.min.js"></script>
    </head>
    <body>
        <h1>Landing Page!</h1>
        <div id="app">
            <h2>Settings</h2>
            <p>Port: <input type="text" v-model="port" height="10" ></p>
            <p>Protocol: <input v-model="protocol"/></p>
            <p>Active Interaction id: {{interactionid}}  <input type="checkbox" id="checkbox" v-model="checked" v-on:change="filterInteraction()">
                <label for="checkbox">{{ (checked ? 'Use id': 'Do not use id') }}</label></p>
            <hr>
            <h2>Click To Dial: </h2>
            <input oninput="updateHref(this.value)" v-model="message"> <- Change number here
            <p><a id="clicktocall1" href=''>{{ message }}</a>&nbsp; <- Click here to call</p>
            <hr>
            <h2>Commands on current interaction: </h2>
            <p>The command will be executed on Interaction id rceived from URL or on current WDE interaction if the "Active Interaction id" above is unflagged</p>
            <p><button v-on:click="releaseCall">Release Call</button> <button v-on:click="markDone">Mark Done</button></p>
            <p>DispositionCode: <input v-model="dispositioncode"/>&nbsp;<input type="checkbox" id="checkbox" v-model="markdone"><label for="checkbox">MarkDone</label>&nbsp;<button v-on:click="setDispositionCode">Disposition Code</button></p>
            <h2>Download Test Files</h2>
            <a href="https://docs.genesys.com/Special:Repository/81fr_dep-sip.pdf?id=278979454427&page=Documentation/SIPS">Direct File</a>
            <br />
            <a href="https://docs.genesys.com/Special:Repository/81fr_dep-sip.pdf?id=278979454427&page=Documentation/SIPS" target="_blank">New Page Download</a>
            <br />
            <a href="https://docs.genesys.com/Special:Repository/81fr_dep-sip.pdf?id=278979454427&page=Documentation/SIPS" download="sip">Download Attribute</a>
            <br />
        </div>
        <script src="../js/index.js"></script>
        <script>
            function updateHref(objval)
            {
                document.getElementById("clicktocall1").href = "tel: " + objval;
            }
        </script>
    </body>
</html>
